<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="container">
<h2>enter details</h2>
<div class="row">
    <a href="{% url 'home' %}">Form</a>
    <a href="{% url 'people' %}">Form data</a>
    <div class="col-md-4">

    <form action="/update/{{l.id}}" method="POST">

        {% csrf_token %}
        <input class="form-control mt-5" type="text" name="name" placeholder="name" value="{{l.name}}">
        <input value="{{l.school}}" class="form-control mt-5" type="text" name="school" placeholder="School">
        <input value="{{l.email}}" class="form-control mt-5" type="email" name="email" placeholder="Email">
        <input class="form-control mt-5 btn btn-success" type="submit" value="submit" name="update">
    </form>
 </div>

</div>

</body>
</html>